START_PROJECT=dev

DB_USERNAME_DEV=PMRP_HR
DB_SERVER_DEV=150.95.80.78
DB_NAME_DEV=PMRP_Intensive
DB_PASSWORD_DEV=HR@4321
DB_PORT_DEV=5432
DB_MAX_DEV =10
DB_IDLE_TIMEOUT_MILLIS_DEV=30000
DB_ICONNECTION_TIMEOUT_MILLIS_DEV=5000

LOG_DB_USERNAME_DEV=PMRP_HR
LOG_DB_SERVER_DEV=150.95.80.78
LOG_DB_NAME_DEV=PMRP_HR_Log
LOG_DB_PASSWORD_DEV=HR@4321
LOG_DB_PORT_DEV=5432
LOG_DB_MAX_DEV =10
LOG_DB_IDLE_TIMEOUT_MILLIS_DEV=30000
LOG_DB_ICONNECTION_TIMEOUT_MILLIS_DEV=5000

DB_USERNAME_TEST=
DB_SERVER_TEST=
DB_NAME_TEST=
DB_PASSWORD_TEST=
DB_PORT_TEST=5432
DB_MAX_TEST =10
DB_IDLE_TIMEOUT_MILLIS_TEST=30000
DB_ICONNECTION_TIMEOUT_MILLIS_TEST=5000


LOG_DB_USERNAME_TEST= 
LOG_DB_SERVER_TEST=
LOG_DB_NAME_TEST=
LOG_DB_PASSWORD_TEST=
LOG_DB_PORT_TEST=5432
LOG_DB_MAX_TEST =10
LOG_DB_IDLE_TIMEOUT_MILLIS_TEST=30000
LOG_DB_ICONNECTION_TIMEOUT_MILLIS_TEST=5000


DB_USERNAME_PRPD=
DB_SERVER_PRPD=
DB_NAME_PRPD=
DB_PASSWORD_PRPD=
DB_PORT_PRPD=5432
DB_MAX_PRPD =10
DB_IDLE_TIMEOUT_MILLIS_PRPD=30000
DB_ICONNECTION_TIMEOUT_MILLIS_PRPD=5000

LOG_DB_USERNAME_PRPD=
LOG_DB_SERVER_PRPD=
LOG_DB_NAME_PRPD=
LOG_DB_PASSWORD_PRPD=
LOG_DB_PORT_PRPD=5432
LOG_DB_MAX_PRPD =10
LOG_DB_IDLE_TIMEOUT_MILLIS_PRPD=30000
LOG_DB_ICONNECTION_TIMEOUT_MILLIS_PRPD=5000



PORT=9998

HOST=localhost
JWTSECRET=SECRET_KEY_IS_XXX
CUSTOMHERDERKEY=20EC2A2BA3ED2470C11AC4E78461189769DEEAFBDC0D209709897902E6042D44
USERSWAGGER=TTT
PASSWORDSWAGGER=2kkf0cq83t
LOGACCESSPATH=./logs/
PASSWORDACADEMY=1234

